<footer class="footer">
	<section id="contact">
		<ul class ="fnav">
			<li id = "footernav"><a href="#"> About Us </a></li>
			<li id = "footernav"><a href="#"> Contact </a></li>
			<li id = "footernav"><a href="#"> Terms & Conditions</a></li>
		</ul>
	</section>
	<small>
		<ul class="ficons">
			<li><%= link_to image_tag("twitter.png", alt: "Settings") %></li>
			<li><%= link_to image_tag("facebook.png", alt: "Settings") %></li>
			<li><%= link_to image_tag("linkedin.png", alt: "Settings") %></li>
			<li><%= link_to image_tag("googleplus.png", alt: "Settings") %></li>
		</ul>
	</small>
</footer>