/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *___________________________________________________________________________________________________________
 * The horizontal navbar styling is here. The following code was referenced from a user on the following page
 *http://forum.pagelines.com/topic/19823-gradient-color-in-navbar/
 *To modify color: Either create a new gradient on site and replace with code below or just alter the hexa-values
 */

 #input_size{
	margin: 0;
	width: 300px;
}

#button-css{
	width: 300px;
	background-color:#2C3E50;
	border-color:#2C3E50;

}

#button-css:hover{	
	background-color:#95A5A6;	
	border-color:#95A5A6;

}

.textdesign{
	margin-bottom:5px;
	margin-top : 20px;
	font-size : 20px;
	color :#2C3E50;

}
.name {
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}
